/*box sizing*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/*header*/

body{
    background-color: lightgray;
}

#logo{
    height: 80px;
    background-color: white;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 70px;
    
}

img{  
    vertical-align: middle;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: middle;
}
/*main*/

main{
     height:100%;     
}

#interfaccia{
    margin-top: 30px;
}

/*tasks-bar*/

#tasks-bar{
    height: 60px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    background-color: white;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}

#button1{
    border: 0px;
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px;
    color: white;
    background-color: rgb(0, 119, 255);
}

#button2{
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px;
}
