/*box sizing*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*header*/

body{
    background-color: rgb(236, 236, 236);
}

#logo{
    height: 80px;
    background-color: white;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 70px;
    
}

img{  
    vertical-align: middle;
}

h1{
    
    display: inline-block;
    vertical-align: middle;
}
/*main*/

main{
     height:100%;     
}

#interfaccia{
    margin-top: 30px;
}

/*tasks-bar*/

#tasks-bar{
    height: 60px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    background-color: white;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}

#button1{
    border: 0px;
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px;
    color: white;
    background-color: rgb(69, 171,234);
}

#button2{
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px;
}


/*to do list*/

#cont-list{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
}

#listmaster{  
      margin-left: 30px;
    padding-top: 30px;
    
}


ul{
    list-style-type: none;
}

#ultitle{font-size: 25px;
    font-weight: 600;
}

li{
    font-weight: 700;
    padding: 3px;
    margin-top: 20px;
}


ul::before{
    content:" \25BC";
}

.li-done::before{
    content:"\2713" ;
    color: green;
    display: inline-block;
    width: 1em;
    background: white;
    padding-left: 3px;
    border-radius: 50%;
    margin-right: 1em;
    border: solid green 1px;
}

.li-undone::before{
    content:"\2715" ;
    color: rgb(165, 0, 0);
    display: inline-block;
    width: 1em;
    background: white;
    padding-left: 3px;
    border-radius: 50%;
    margin-right: 1em;
    border: solid rgb(165, 0, 0) 1px;
}



#tag1{
    background-color:rgb(69, 171,234);
    border-radius: 15px;
    color: white;
    padding: 8px;
}

#list2{
    margin-top: 30px;
}

#tag2{
    background-color:rgb(69, 171,234);
    border-radius: 15px;
    color: white;
    padding: 8px;
}

#tag3{
    background-color:rgb(156, 114, 228);
    border-radius: 15px;
    color: white;
    padding: 8px;
}

#tag4{
    background-color:rgb(100, 192, 169);
    border-radius: 15px;
    color: white;
    padding: 8px;
}

#tag5{
    background-color:rgb(242, 158, 51);
    border-radius: 15px;
    color: white;
    padding: 8px;
}
